################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuildIndia.ViewModel/obj/Debug
/packages/EntityFramework.5.0.0
